$white: #fff;
$darkBlueColor: #213F7D;
$darkBlueOpacityColor: rgba(33, 63, 125, 0.2);
$grayColor: #545F7D;
$lightgrayColor: rgba(84, 95, 125, 0.15);
$lightBlueColor: #39CDCC;

@mixin flexAC {
    display: flex;
    align-items: center;
}

@mixin flexDC {
    display: flex;
    flex-direction: column;
}

@mixin flexJC ($content){
    display: flex;
    justify-content: $content;
}